/* *{
    margin: o;
    padding: 0;
} */
#heading{
    line-height: 40px;
}
#second{
    background:whitesmoke;
    min-height: 700px;
   background-attachment: fixed;
   
}
#see{
    color: teal;
    text-decoration: underline;
}
#quote{
    background-color: whitesmoke;
}
#smile{
    border-radius: 10px;
}
#third{
    background: hsl(238, 22%, 44%);
}
.footer{
  background:hsl(243, 87%, 12%);

}
.footer a{
    color: white;
    text-align: center;
}
